<div class="container">
    <!-- Título -->
    <h1 class="title">Cadastro de novo clube</h1>
    
    <!-- Input para Nome do Clube-->
    <div class="notification">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Nome do Clube:</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input is-primary" type="text" placeholder="Nome">
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Botão Salvar -->
    <div class="buttons has-addons is-right">
      <a class="button is-primary is-rounded">Salvar</a>
    </div>
  </div>